 /* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Coda:wght@400;800&family=Shojumaru&display=swap');

 /* CSS Variables */
 :root {
     --primary-font: "Codo", sans-serif;
     --secondary-font: "Shojumaru", cursive;
     --primary-color: #5500AA; /* purple */
     --secondary-color: #904AAD; /* light purple */
     --highlight-color: #31FA37; /* bright green */
     --highlight-color-light: #A8FBAA; /* mint green */
 }
 
 /* Global styles */
 
 body {
     font-family: var(--primary-font);
     padding-top: 64px; /* pushes the top of the header down under fixed navbar */
 }
 
 h1,
 h2,
 h3 {
     font-family: var(--secondary-font);
     color: var(--primary-color);
 }
 
 h1,
 h2 {
     text-transform: uppercase;
 }

 /* Navbar */

 #navbar {
    background-color: var(--secondary-color);
 }

 #navbar .logo {
    width: 30px;

 }

 /* Header */

#hero {
    background-color: white; 
    background-image: url("../assets/images/pexels-danny-meneses-340146-943096.jpg");
    background-size: cover;
    background-position: 50% 70%;
    min-height: 300px;
    padding: 5% 7%;
    color: var(--highlight-color-light);
}

